:root {
    font-size: 1rem;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 70px 60px 1fr;
    grid-template-areas:
        "he he"
        "as nav"
        "as ma";
}

body > header {
    grid-area: he;
}

body > aside {
    grid-area: as;
    border: 1px solid blue;
}

body > nav {
    grid-area: nav;
    background-color: green;
}

body > main {
    grid-area: ma;
    background-color: yellow;
}

/* ---------------- */
/* GENERICI */
/* -------------------- */
.button {
    padding: 1rem;
    border-radius: 3.5rem;
    font-weight: 600;
}

.menu {
    padding: 0.5rem;
    border-bottom: 2px solid #f3f5f8;
    font-size: 0.7rem;
}

.menu > ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}

.menu > ul > li > a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.menu span {
    white-space: nowrap;
}

.menu.theme-selector a,
.menu.first a {
    color: black;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem;
    height: 60px;
    width: 60px;
    border-radius: 0.5rem;
}

/* ---------------- */
/* HEADER */
/* -------------------- */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

header > section {
    display: flex;
    align-items: center;
}

.logo {
    gap: 1.5rem;
}

.sign {
    gap: 1.5rem;
}

.button.sign-in {
    border: none;
}

.button.sign-in:hover {
    background-color: #f3f5f8;
    cursor: pointer;
}

.button.sign-up {
    border: 2px solid #74cc1d;
}

.search-bar > input {
    width: 30vw;
    height: 35px;
    border: 1px solid #f3f5f8;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.search-bar > button {
    height: 35px;
    border-left: none;
    border: 1px solid #f3f5f8;
    padding: 0.2rem 0.75rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.search-bar > button > img {
    height: 100%;
}

/* ---------------- */
/* ASIDE 1 menu*/
/* -------------------- */

aside {
    overflow: auto;
}

.menu.first > ul > li > a:hover {
    background-color: #f3f5f8;
}

.img-menu {
    height: 20px;
    width: 20px;
}

.menu.first > ul {
    gap: 0.7rem;
}

/* ASIDE 2 menu*/
.channels-featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.channels-featured > ul {
    gap: 1rem;
}

.img-featured {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid red;
}

/* ASIDE 3 menu*/

.theme-selector > ul > li > a:hover {
    background-color: #f3f5f8;
}

span.wrap-text {
    white-space: normal;
}
.theme-selector > ul {
    gap: 0.7rem;
}
/* ---------------- */
/* MEDIA QUERY */
/* -------------------- */

/* MEDIA QUERY MAX-WIDTH 960 */

@media screen and (max-width: 960px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "he"
            "nav"
            "ma";
    }

    aside {
        display: none;
    }
}

/* MEDIA QUERY MAX-WIDTH 640px */

@media screen and (max-width: 960px) {
    /* HEADER */
    input {
        display: none;
    }
    .search-bar > button {
        border-radius: 0;
        background-color: white;
    }

    .button {
        padding: 0.5rem;
    }
}
