:root {
    font-size: 1rem;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 70px 60px 1fr;
    grid-template-areas:
        "he he"
        "as nav"
        "as ma";
}

body > header {
    grid-area: he;
    background-color: red;
}

body > aside {
    grid-area: as;
    background-color: blue;
}

body > nav {
    grid-area: nav;
    background-color: green;
}

body > main {
    grid-area: ma;
    background-color: yellow;
}

/* ---------------- */
/* GENERICI */
/* -------------------- */
.button {
    padding: 1rem;
    border-radius: 3.5rem;
    font-weight: 600;
}
/* ---------------- */
/* HEADER */
/* -------------------- */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
}

header > section {
    display: flex;
    align-items: center;
}

.logo {
    gap: 1.5rem;
}

.sign {
    gap: 1.5rem;
}

.button.sign-in {
    border: none;
}

.button.sign-in:hover {
    background-color: #f3f5f8;
    cursor: pointer;
}

.button.sign-up {
    border: 2px solid #74cc1d;
}

.search-bar > input {
    width: 30vw;
    height: 35px;
    border: 1px solid #f3f5f8;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.search-bar > button {
    height: 35px;
    border-left: none;
    border: 1px solid #f3f5f8;
    padding: 0.2rem 0.75rem;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.search-bar > button > img {
    height: 100%;
}

/* ---------------- */
/* MEDIA QUERY */
/* -------------------- */

/* MEDIA QUERY MAX-WIDTH 960 */

@media screen and (max-width: 960px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas:
            "he"
            "nav"
            "ma";
    }
}

/* MEDIA QUERY MAX-WIDTH 640px */
